﻿@{
    ViewBag.Title = "Contactenos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <abbr title="Telefono">Tel:</abbr>
    2200-4471
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:info@dlimarketgroup.com">info@dlimarketgroup.com</a><br />
    <strong>Sitio Web </strong> <a href="http://www.dlimarketgroup.com.es">http://www.dlimarketgroup.com.es</a>
</address>