﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Servicios-->
<section id="services" class="bg-light-gray">
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">SERVICIOS</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="row">
                    <div class="col-md-4 col-sm-6 services-item">
                        <a href="#servicesModal1" class="services-link" data-toggle="modal">
                            <div class="services-hover">
                                <div class="services-hover-content">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                    </span>
                                </div>
                            </div>
                        </a>

                        <div class="services-caption">
                            <h4 class="service-heading">SOCIAL MEDIA</h4>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 services-item">
                        <a href="#servicesModal2" class="services-link" data-toggle="modal">
                            <div class="services-hover">
                                <div class="services-hover-content">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                                    </span>
                                </div>
                            </div>
                        </a>

                        <div class="services-caption">
                            <h4 class="service-heading">PROGRAMAS</h4>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-6 services-item">
                        <a href="#servicesModal3" class="services-link" data-toggle="modal">
                            <div class="services-hover">
                                <div class="services-hover-content">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                                    </span>
                                </div>
                            </div>
                        </a>

                        <div class="services-caption">
                            <h4 class="service-heading">DESARROLLO WEB</h4>
                        </div>
                    </div>

                    <div class="col-md-7 col-sm-6 services-item">
                        <a href="#servicesModal4" class="services-link" data-toggle="modal">
                            <div class="services-hover">
                                <div class="services-hover-content">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                                    </span>
                                </div>
                            </div>
                        </a>

                        <div class="services-caption">
                            <h4 class="service-heading">APPS</h4>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 services-item">
                        <a href="#servicesModal5" class="services-link" data-toggle="modal">
                            <div class="services-hover">
                                <div class="services-hover-content">
                                    <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                        <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                    </span>
                                </div>
                            </div>
                        </a>

                        <div class="services-caption">
                            <h4 class="service-heading">DISEÑO GRÁFICO</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>




<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/1.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Manejo de Marca</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/7.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Aplicación Móvil</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/6.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Aplicación Móvil</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/8.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Editorial</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/11.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Branding</h4>

                </div>
            </div>

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/14.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Branding</h4>

                </div>
            </div>

            <div class="col-lg-12 text-center">
                <a class="btn success btn-xl " style="color:white" href="@Url.Action("Portafolio")">
                    <i class="fa fa-plus" aria-hidden="true"></i>  Ver Mas
                </a>
            </div>
        </div>
    </div>
</section>
<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">QUIENES SOMOS</h2>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">

                                <h4 class="subheading">Quienes Somos</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">
                                    DLI Market Group, es una empresa formada por profesionales.
                                    Con sólidos y amplios conocimientos en publicidad, diseño, marketing,
                                    desarrollo web y otros.Tenemos como principal objetivo, brindar
                                    plataformas digitales creativas que impacten en el mercado.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Visión</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">“Ser la compañía elegida por nuestra innovación, teniendo un nivel de competencia internacional”</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="~/Content/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Misión</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">“Ayudar a nuestros clientes a alcanzar el éxito en su empresa proporcionando servicios y soluciones innovadoras”</p>
                            </div>
                        </div>
            </div>
        </div>
    </div>
</section>
@*Team Section
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/Content/img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Kay Garland</h4>
                        <p class="text-muted">Lead Designer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/Content/img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Larry Parker</h4>
                        <p class="text-muted">Lead Marketer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="~/Content/img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Diana Pertersen</h4>
                        <p class="text-muted">Lead Developer</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div>
        </div>
    </section>*@

<!-- Clients Aside -->
@*<aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="~/Content/img/logos/envato.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="~/Content/img/logos/designmodo.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="~/Content/img/logos/themeforest.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="~/Content/img/logos/creative-market.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>*@
<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading">Contactenos</h3>
                <h3 class="section-subheading text-muted"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Nombre y Apellido *" id="name" required data-validation-required-message="Por favor ingrese su nombre.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" id="email" required data-validation-required-message="Por favor ingrese su Email.">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="Número de Contacto *" id="phone" required data-validation-required-message="Por favor ingrese su número de contacto.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Envianos tu Mensaje *" id="message" required data-validation-required-message="Por favor envie su mensaje."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Enviar Mensaje</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



