﻿@{
    ViewBag.Title = "Portafolio";
    Layout = "~/Views/Shared/_PartialPage1.cshtml";
}


<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <br />
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal7" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/18.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Sitio Web</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal8" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/5.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Editorial</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal9" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/15.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Branding</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal10" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/16.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Manejo de Marca</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal11" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/10.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Infografía</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal12" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/12.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Branding</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal13" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/Content/img/portfolio/17.png" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Sitio Web</h4>

                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-12 text-center">
        <a class="btn success btn-xl " style="color:white" href="@Url.Action("Index")">
            <i class="fa fa-reply" aria-hidden="true"></i>   Regresar
        </a>
    </div>

</section>
