﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DLI Market Group</title>
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/css/agency.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
</head>
<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


                <a class="navbar-brand page-scroll" href="#page-top"><img src="~/Content/img/2.png" class="img-responsive" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    @*<li>
                            <a class="page-scroll" href="#services">Servicios</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#portfolio">Portfolio</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">Quienes Somos</a>
                        </li>*@
                    @*<li>
                            <a class="page-scroll" href="#team">Equipo</a>
                        </li>*@
                    @*<li>
                            <a class="page-scroll" href="#contact">Contactenos</a>
                        </li>*@
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    @*<header>

            <div class="container">
                <div class="intro-text">
                    <h1>SOMOS INSPIRACIÓN</h1>
                    <h5>CREAMOS, DESARROLLAMOS E INNOVAMOS</h5>
                </div>
            </div>

        </header>*@


    @RenderBody()


    <footer>
        <div class="container">
            <div class="row">
                <center>
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; DLI Market Group</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href=""><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/DLI-Market-Group-559625324214957/?fref=ts"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                            <li>
                                <a><i class="fa fa-envelope"></i></a>
                                <span class="copyright">info@dlimarketgroup.net</span>
                            </li>
                            <li>
                                <a><i class="fa fa-phone-square"></i></a>
                                <span class="copyright">2200-4471</span>
                            </li>
                        </ul>
                    </div>
                </center>
            </div>
        </div>
    </footer>

    @*<div class="container">
            <div class="row">
                <center>
                    <div class="col-md-6">

                        <h6></h6>
                    </div>
                    <div class="col-md-6">

                        <h6></h6>
                    </div>
                </center>
            </div>
        </div>*@

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->
    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Manejo de Marca</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/1.png" alt="">
                            <p>Campaña publicitaria de concierto de música clásica, para este proyecto se creó una serie de piezas publicitarias “DE EL ANGEL DE EL VIOLIN” creando en sus diseños un concepto surrealista.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Aplicación Móvil</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/7.png" alt="">
                            <p>Conceptualización y diseño de Interface de usuario y Experiencia de Usuario para aplicación móvil de Hoteles el Salvador en sistema operativo iOS, bajo las últimas tendencias de diseño y con una apariencia limpia, moderna y funcional. </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Aplicación Móvil</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/6.png" alt="">
                            <p>Conceptualización y diseño de Interface de usuario y Experiencia de Usuario para aplicación móvil para Weser de tecnología de sistema operativo iOS, bajo las últimas tendencias de diseño y con una apariencia dinámica y funcional.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 4 -->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Editorial</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/8.png" alt="">
                            <p> diseño de revista, enfocada en nuestros pueblo originarios y a su vez siendo un agenda post 2015.creando una diagramación bastante sólida moderna y dinámica.></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Branding</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/11.png" alt="">
                            <p>Identidad corporativa para satisfacer las necesidades del cliente. Esta creación de una imagen solida unificada que facilite la entidad del público.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Branding</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/14.png" alt="">
                            <p>Creación y desarrollo de identidad corporativa para la marca “GCA”, Grupo Consultores y Asesores.sv.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 7 -->
    <div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Sitio Web</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/18.png" alt="">
                            <p></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 8 -->
    <div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Editorial</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/5.png" alt="">
                            <p>Diseño de revista, enfocada en los servicios de seguros de pensionados basando en los colores corporativos de la marca realizando con una diagramación tipográfica dando dinamismo y seriedad con un enfoque moderno.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 9 -->
    <div class="portfolio-modal modal fade" id="portfolioModal9" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Branding</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/15.png" alt="">
                            <p>Identidad grafica de la empresa dedicada a consultorías empresariales </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 10 -->
    <div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Manejo de Marca</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/16.png" alt="">
                            <p>Identidad gráfica, desarrollo y posicionamiento web, social media y estrategia digital.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 11 -->
    <div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Infografía</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/10.png" alt="">
                            <p></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 12 -->
    <div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Branding</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/12.png" alt="">
                            <p>Creación y desarrollo de identidad corporativa para la marca “Mi Evento” con el objetivo de satisfacer las necesidades y expectativas del cliente.</p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 13 -->
    <div class="portfolio-modal modal fade" id="portfolioModal13" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Sitio Web</h2>
                            <p class="item-intro text-muted">Descripción del proyecto</p>
                            <img class="img-responsive img-centered" src="~/Content/img/portfolio/17.png" alt="">
                            <p></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Services Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->
    <!-- Services Modal 1 -->
    <div class="service-heading modal fade" id="servicesModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <center>
                                <h2>SOCIAL MEDIA</h2>
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                                </span>
                                <p>- Consultoria</p>
                                <p>- Gestión</p>
                                <p>- Creatividad</p>
                                <p>- Manejo de Redes</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services Modal 2 -->
    <div class="service-heading modal fade" id="servicesModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <center>
                                <h2>PROGRAMAS</h2>
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                                </span>
                                <p>Creamos todo tipo de programas empresariales</p>
                                <p>-Sistema de Facturación</p>
                                <p>-Sistema de Planilla</p>
                                <p>-Entre Otros ...</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services Modal 3 -->
    <div class="service-heading modal fade" id="servicesModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <center>
                                <h2>DESARROLLO WEB</h2>
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                                </span>
                                <p>Todo tipo de Sitios Web</p>
                                <p>- Sitio Responsive</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services Modal 4 -->
    <div class="service-heading modal fade" id="servicesModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <center>
                                <h2>APPS</h2>
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-mobile fa-stack-1x fa-inverse"></i>
                                </span>
                                <p>- Sitios Responsive</p>
                                <p>- App Social</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Services Modal 5 -->
    <div class="service-heading modal fade" id="servicesModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <center>
                                <h2>DISEÑO GRÁFICO</h2>
                                <span class="fa-stack fa-5x">
                                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                    <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                </span>
                                <p>- Diseño Editorial</p>
                                <p>- Diseño Digital</p>
                                <p>(Afiches, Vayas Publicitarias)</p>
                                <p>- Brouchure</p>
                                <p>- Branding</p>
                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>  Salir</button>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
    <script src="~/Scripts/js/jquery.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="~/Scripts/js/classie.js"></script>
    <script src="~/Scripts/js/cbpAnimatedHeader.min.js"></script>
    <script src="~/Scripts/js/jqBootstrapValidation.js"></script>
    <script src="~/Scripts/js/contact_me.js"></script>
    <script src="~/Scripts/js/agency.js"></script>
</body>
</html>
